.page-content.light
	.page-content-inner
		ul.breadcrumbs
			li
				a(href="/") Головна
			li
				span Про компанію
		section.short-container
			h1.mb-40 
				|ТОВ «Горизонти» – 
				br 
				|газовидобувне підприємство, що проводить промислову розробку
			p.mb-50.
				Берегівського газового родовища (Спеціальний дозвіл на користування надрами №6036 від 19.03.2015р.), Гірського газового родовища (Спеціальний дозвіл на користування надрами №6035 від 19.03.2015р.) та геологічне вивчення Бунівської площі (Спеціальний дозвіл на користування надрами №4688 від 04.09.2015р.), що розташовані на території Львівської області.
			.our-history
				p.title Наша історія
				.slider.swiper-container
					.swiper-wrapper
						.swiper-slide
							a(href="#")
								span.digit-stat 2011
							p – пробурено пошукову свердловину 1 Східно-Берегівська якою відкрито Берегівське газове родовище
						.swiper-slide
							a(href="#")
								span.digit-stat 2012
							p – збудовано та введено в експлуатацію установку підготовки газу «УПГ Берегівське»
						.swiper-slide
							a(href="#")
								span.digit-stat 2012
							p – збудовано та введено в експлуатацію установку підготовки газу «УПГ Берегівське»
				.slider-buttons
					.swiper-button-prev
					.swiper-button-next
