.page-content.light.clear-bg
	.page-content-inner
		ul.breadcrumbs
			li
				a(href="/") Головна
			li
				span Споживачу
		section.normal-container
			h1.mb-40 Шановні друзі!
			p.mb-50 Товариство з обмеженою відповідальністю «Горизонти» здійснює свою діяльність щодо постачання природного газу відповідно до Закону України «Про ринок природного газу», Правил постачання природного газу та інших нормативно-правових актів, які регламентують діяльність суб'єктів ринку природного газу.
			ul.marked-list.mb-40
				li Ліцензія з постачання природного газу ТОВ "Горизонти"
				li Типовий договір на постачання природного газу
			h2.mb-20 Ви, як споживач природного газу, маєте право:
			ul.info-list.mb-40
				li - на отримання газу, фізико-хімічні показники якого відповідають установленим нормам, в обсягах, визначених договором на постачання природного газу, які погоджені оператором Єдиної газотранспортної системи України, крім випадків припинення (обмеження) постачання/транспортування газу відповідно до вимог законодавства;
				li - на коригування планових, підтверджених до добових обсягів газу в установленому порядку;
				li - самостійно припиняти (обмежувати) відбір газу для власних потреб з дотриманням вимог чинного законодавства, про що повинні письмово повідомляти усіх суб'єктів ринку природного газу, з яким укладено відповідні договори;
				li - вимагати поновлення постачання/розподілу/транспортування газу в установленому порядку після усунення порушень і оплати послуг з відключення та підключення, якщо припинення газопостачання відбулося без розірвання договору на постачання;
				li - інші права, передбачені чинним законодавством.
			h3.mb-30 Відповідно до Закону України «Про ринок природного газу» Споживач має право, зокрема, на:
			ul.info-list.mb-40
				li 1) вільний вибір постачальника;
				li 2) безоплатну зміну постачальника, крім випадків, передбачених абзацом другим частини першої статті 14 цього Закону;
				li 3) отримання інформації про загальні умови постачання (у тому числі ціни), права та обов'язки постачальника та споживача, зазначення актів законодавства, якими регулюються відносини між постачальником і споживачем, наявні способи досудового вирішення спорів з постачальником;
				li 4) отримання природного газу належної якості та кількості, фізико-хімічні показники якого відповідають встановленим нормам, відповідно до умов укладених договорів, крім випадків припинення (обмеження) постачання природного газу відповідно до вимог законодавства та умов договорів;
				li 5) безоплатне отримання інформації про обсяги та інші показники власного споживання природного газу;
				li 6) дострокове розірвання договору постачання, якщо постачальник повідомив споживача про намір внесення змін до договору постачання в частині умов постачання та нові умови постачання виявилися для нього неприйнятними.
			h3.mb-30 Споживач зобов'язаний:
			ul.info-list.mb-40
				li 1) укласти договір про постачання природного газу;
				li 2) забезпечувати своєчасну та повну оплату вартості природного газу згідно з умовами договорів;
				li 3) не допускати несанкціонованого відбору природного газу;
				li 4) забезпечувати безперешкодний доступ уповноважених представників оператора газотранспортної системи, оператора газорозподільної системи до вузлів обліку природного газу та з метою встановлення вузлів обліку газу;
				li 5) припиняти (обмежувати) споживання природного газу відповідно до вимог законодавства та умов договорів.
			.color-filled.mb-50
				p У разі порушення або невиконання своїх обов'язків споживач несе відповідальність згідно із законом.
				p 
					span.bold Захист прав споживачів природного газу - фізичних осіб регулюється цим Законом, Законом України "Про захист прав споживачів" та іншими нормативно-правовими актами.
				p Відповідно до Правил постачання природного газу, затверджено постановою Національної комісії, що здійснює державне регулювання у сферах енергетики та комунальних послуг 30 вересня 2015 року №2496.
			h3.mb-30 Постачальник має право:
			ul.info-list.mb-40
				li – укласти договір постачання природного газу з будь-яким споживачем та за відсутності простроченої заборгованості споживача за природний газ перед діючим постачальником поставити природний газ споживачу в періоді, наступному після періоду постачання природного газу діючим постачальником;
				li – отримувати від споживача своєчасну оплату за природний газ відповідно до умов договору;
				li – на безперешкодний доступ (за пред'явленням службового посвідчення) до комерційних вузлів обліку природного газу, що встановлені на об'єктах газоспоживання споживача, для звірки даних фактичного споживання природного газу;
				li – на повну і достовірну інформацію від споживача, з яким укладено договір, щодо режимів споживання природного газу;
				li – на ініціювання процедури припинення (обмеження) постачання природного газу споживачу згідно з умовами договору на постачання природного газу та відповідно до вимог цих Правил;
				li інші права, передбачені цими Правилами та чинним законодавством.
			h3.mb-30 Постачальник зобов'язаний: 
			ul.info-list.mb-40
				li – укласти договір постачання природного газу з будь-яким споживачем та за відсутності простроченої заборгованості споживача за природний газ перед діючим постачальником поставити природний газ споживачу в періоді, наступному після періоду постачання природного газу діючим постачальником;
				li – отримувати від споживача своєчасну оплату за природний газ відповідно до умов договору;
				li – на безперешкодний доступ (за пред'явленням службового посвідчення) до комерційних вузлів обліку природного газу, що встановлені на об'єктах газоспоживання споживача, для звірки даних фактичного споживання природного газу;
				li – на повну і достовірну інформацію від споживача, з яким укладено договір, щодо режимів споживання природного газу;
				li – на ініціювання процедури припинення (обмеження) постачання природного газу споживачу згідно з умовами договору на постачання природного газу та відповідно до вимог цих Правил;
				li інші права, передбачені цими Правилами та чинним законодавством.
			h3.mb-30 Споживач зобов'язується:
			ul.info-list.mb-40
				li 1) дотримуватись вимог цих Правил;
				li 2) забезпечувати дотримання дисципліни відбору (споживання) природного газу в обсягах та на умовах, визначених договорами;
				li 3) своєчасно та в повному обсязі сплачувати за поставлений природний газ на умовах, визначених договорами;
				li 4) здійснювати комплекс заходів, спрямованих на запобігання виникненню загрози життю або травматизму, пошкодженню обладнання та продукції, негативних екологічних наслідків тощо в разі отримання повідомлення про припинення (обмеження) постачання (розподілу/транспортування) природного газу;
				li 5) забезпечувати допуск представників постачальника за пред'явленням службового посвідчення на територію власних об'єктів для звірки даних фактичного споживання природного газу;
				li 6) самостійно обмежувати (припиняти) споживання природного газу у випадках:
				li - порушення строків оплати за договором на постачання природного газу;
				li - відсутності або недостатності підтвердженого обсягу природного газу, виділеного споживачу;
				li - перевитрат добової норми та/або місячного підтвердженого обсягу природного газу без узгодження з постачальником;
				li - відсутності укладеного договору постачання природного газу;
				li - інших випадках, передбачених цими Правилами та чинним законодавством.
			h3.mb-30 Споживач має право:
			ul.info-list.mb-40
				li – на отримання природного газу в обсягах, визначених договором постачання природного газу, за умови дотримання його умов;
				li – на безкоштовне отримання інформації щодо цін постачальника на природний газ та порядку оплати;
				li – самостійно припиняти (обмежувати) відбір природного газу для власних потреб з дотриманням вимог чинного законодавства, про що повинен письмово повідомляти всіх суб'єктів ринку природного газу, з якими укладено відповідні договори;
				li – вимагати поновлення постачання природного газу в установленому порядку після усунення порушень і компенсації оплати послуг за відключення та підключення, якщо припинення газопостачання відбулося без розірвання договору постачання природного газу;
				li – інші права, передбачені цими Правилами та чинним законодавством.
			h3.mb-30 Процедура вирішення спорів
			ul.info-list.mb-30
				p Усі спори, що виникають у зв'язку з укладанням договору зі Споживачем або такі, що виникають в процесі виконання умов укладеного договору, вирішуються шляхом переговорів між представниками Сторін.
				br
				p Якщо спір неможливо вирішити шляхом переговорів, він вирішується в судовому порядку за встановленою підвідомчістю та підсудністю такого спору у порядку, визначеному відповідним чинним в Україні законодавством.
				br
				p Усі спори (розбіжності), які виникають при здійсненні обліку природного газу, відповідно до Кодексу газотранспортної системи, повинні вирішуватись шляхом переговорів. Якщо сторона, що приймає природний газ, не погоджується з визначенням добового чи місячного обсягу та ФХП поданого газу, то вона повинна заявити про це іншій стороні, що приймає/передає газ, протягом п'яти днів з дати оформлення акта або іншого документа, що підтверджує значення обсягу та ФХП поданого (прийнятого) газу.
				br
				p У разі виникнення між сторонами спірних питань щодо результатів вимірювань обсягу природного газу або технічних, ц тому числі метрологічних характеристик засобів вимірювальної техніки, сторони мають право вимагати проведення експертної повірки засобів вимірювальної техніки.
				br
				p У разі неможливості досягнення згоди (у тому числі на підставі результатів проведеної експертної повірки) шляхом переговорів, пред'явлені спірні питання передаються на розгляд до суду.
				br
				p До врегулювання розбіжностей та прийняття рішення суду обсяг переданого (прийнятого) газу встановлюється відповідно до результатів вимірювань комерційного ВОГ (ПВВГ).
				br
				p Відповідно до Закону України «Про Національну комісію, що здійснює державне регулювання у сферах енергетики та комунальних послуг» (ст. 21 Розгляд скарг та врегулювання спорів), Регулятор розглядає скарги споживачів щодо порушення їхніх прав та інтересів суб'єктами господарювання, що провадять діяльність у сферах енергетики та комунальних послуг, а також вирішує спори, що виникають між суб'єктами господарювання, що провадять діяльність у сферах енергетики та комунальних послуг, з питань дотримання суб'єктами господарювання ліцензійних умов та інших питань, розгляд яких віднесено законом до компетенції Регулятора.
			.color-filled
				p.title.mb-30
					|Відповідальна особа щодо спірних питань та їх 
					br 
					|вирішення зі сторони ТОВ «Горизонти»
				p 
					span.bold Директор Лукаш Свозіл
				a(href="tel:0322590051") (032) 259-00-51
				p 79019, м. Львів, вул. Гайдамацька, 9А, 
				p з понеділка по п'ятницю з 09-00 до 18-00 години, 
				p вихідні дні - субота, неділя.

