.page-content.light.clear-bg
	.page-content-inner
		ul.breadcrumbs
			li
				a(href="/") Головна
			li
				span Контакти
		section.normal-container
			h1.mb-40 Контакти
			.grid-2.mb-30
				.phones.color-filled.highlighted
					p.title.mb-30 Контактні телефони
					a(href="tel:0322610537") (032) 261-05-37
					a(href="tel:0322590051") (032) 259-00-51
					a(href="tel:0672399793") (067) 239-97-93
				.email.color-filled.highlighted
					p.title.mb-30 E-mail
					a(href="mailto:hrytskevych@mnd.com.ua") hrytskevych@mnd.com.ua
					a(href="mailto:info@mnd.com.ua") info@mnd.com.ua
			.grid-2.mb-30
				.official-address.white-block.highlighted
					p.title.mb-10 Юридична адреса
					p 79005 м. Львів, вул. Ак. Павлова 6ц/7
				.actual-address.white-block.highlighted
					p.title.mb-10 Поштова адреса
					p 79019, м. Львів, вул. Гайдамацька 9а
			.map#map.mb-30.highlighted
			.grid-2.mb-30
				.reception-address.white-block.highlighted
					p.title.mb-10 Прийом та обслуговування споживачів
					p 79019, м. Львів, вул. Гайдамацька 9а
				.reception-time.white-block.highlighted
					p.title.mb-10 Графік роботи
					p з понеділка по п`ятницю з 9-00 по 18-00 год, вихідні дні – субота, неділя
