header.desktop(data-aos="fade-right")
	.logo
		a(href="/")
			img(src="./assets/img/Logo.svg")
	.header__menu
		nav
			ul
				li 
					a(href="#") Головна
				li 
					a(href="#") Про компанію
				li 
					a(href="#") Ціни на газ
				li 
					a(href="#") об’єкти підприємства
				li 
					a(href="#") Законодавство
				li 
					a(href="#") Споживачу
				li 
					a(href="#") Публічна інформація
				li 
					a(href="#") Контакти
		.our_video
			a(href="https://www.youtube.com/watch?v=iIMmS-5W3v4" data-fancybox).play
				span
			p відео з виробництва
	.header__short-info
		p.mob-address.show-1024
			a(href="#")
				span.accent
					|м. Львів, 
					br
					|вул. Гайдамацька 9а
		a(href="tel:0322610537" class="phone-number mob-phone accent show-1024") (032) 261-05-37
		p.short_info__bottom 
			span.accent ТОВ "Горизонти" 
			br.hide-1024
			|входить у 
			br.show-1024
			|групу 
			br.hide-1024
			|компаній 
			a(href="http://www.mnd.com.ua/" target="_blank" class="underline-hover")
				span.accent mnd.com.ua