header.desktop
	.logo
		a(href="/")
			img(src="./assets/img/Logo.svg")
	.header__menu
		nav
			ul
				li 
					a(href="#") Головна
				li 
					a(href="#") Про компанію
				li 
					a(href="#") Ціни на газ
				li 
					a(href="#") об’єкти підприємства
				li 
					a(href="#") Законодавство
				li 
					a(href="#") Споживачу
				li 
					a(href="#") Публічна інформація
				li 
					a(href="#") Контакти
		.our_video
			.play
				span
			p відео з виробництва
	.header__short-info
		p 
			span.accent ТОВ "Горизонти"
			br
			|входить у групу 
			br 
			|компаній 
		a(href="#")
			span.accent mnd.com.ua