header.mobile
	.logo-mobile
		a(href="/")
			img(src="./assets/img/Logo-black.svg")
			img(src="./assets/img/Logo.svg" class="light")
	.mobile__menu-wrapper.d-flex
		p.address м. Львів, вул. Гайдамацька 9а
		a(href="tel:0322610537" class="phone-number") (032) 261-05-37
		input#menu__toggle(type='checkbox')
		label.menu__btn(for='menu__toggle')
			span
