.page-content.gray
	.page-content-inner
		.content__top
			p м. Львів, вул. Гайдамацька 9а
			a(href="tel:0322610537" class="phone-number") (032) 261-05-37
		.content__center
			h1 Газовидобувне підприємство
			.site-title
				p horyzonty
			p Нове розуміння газопостачання
			p Дбаємо про наше спільне майбутнє

		.content__bottom
			.stats.d-flex
				.stat_item
					span.accent 41,3 
					p 
						|км
						sup 2
						|, площа ділянки надр 

				.stat_item
					span.accent 200 тис
					p 
						|м
						sup 3 
						|добовий дебіт

				.stat_item
					span.accent 1 млд
					p 
						|м
						sup 3 
						|запас газу
			.our_video
				.play
					span
				p відео з виробництва
