.page-content.gray
	.page-content-inner
		.content__top(data-aos="fade-down" data-aos-delay="200")
			a(href="#") м. Львів, вул. Гайдамацька 9а
			a(href="tel:0322610537" class="phone-number") (032) 261-05-37
		.content__center(data-aos="fade-up" data-aos-delay="300" )
			h1 Газовидобувне підприємство
			.site-title
				p horyzonty
			p Нове розуміння газопостачання
			p Дбаємо про наше спільне майбутнє

		.content__bottom
			.stats.d-flex
				.stat_item(data-aos="fade-left" data-aos-delay="300" )
					span.accent 41,3 
					p 
						|км
						sup 2
						|, площа ділянки надр 

				.stat_item(data-aos="fade-left" data-aos-delay="500" )
					span.accent 200 тис
					p 
						|м
						sup 3 
						|добовий дебіт

				.stat_item(data-aos="fade-left" data-aos-delay="700" )
					span.accent 1 млд
					p 
						|м
						sup 3 
						|запас газу
			.our_video
				a(href="https://www.youtube.com/watch?v=iIMmS-5W3v4" data-fancybox).play
					span
				p відео з виробництва
