.page-content.light.clear-bg
	.page-content-inner
		ul.breadcrumbs
			li
				a(href="/") Головна
			li
				span Законодавство
		section.normal-container
			h1.mb-40 Законодавство
			p.mb-50.short-container Постачання газу здійснюється в рамках правового поля України та регулюється наступними законодавчими актами:
			ul.marked-list
				li 
					a(href="#") Закон України «Про ринок природного газу»
				li 
					a(href="#") Кодекс газотранспортної системи
				li 
					a(href="#") Правила постачання природного газу
				li 
					a(href="#") Кодекс газорозподільних систем
				li 
					a(href="#") Постанова НКРЕ № 1156 від 21.09.2017 р. (Мінімальні стандарти та вимоги до якості обслуговування споживачів та постачання природного газу)
				li 
					a(href="#") Постанова КМУ від 8 грудня 2006 р. N 1687 «Про затвердження Порядку пооб'єктового припинення (обмеження) газопостачання споживачам, крім населення» Закон України "Про Національну комісію, що здійснює державне регулювання у сферах енергетики та комунальних послу
