.page-content.light.clear-bg
	.page-content-inner
		ul.breadcrumbs
			li
				a(href="/") Головна
			li
				span Об’єкти підприємства
		section.normal-container
			h1.mb-40 Об’єкти підприємства
			.grid-2.mb-30
				.image-block.highlighted
					.photo-wrapper
						a(href="assets/img/object-full.png" data-fancybox)
							img(src="assets/img/object-thumb.png")
					.white-block
						p.title Об’єкт “Закарпатський”
						p - постачальника ТОВ «Горизонти» 
				.image-block.highlighted
					.photo-wrapper
						a(href="assets/img/object-full.png" data-fancybox )
							img(src="assets/img/object-thumb.png")
					.white-block
						p.title Об’єкт “Закарпатський”
						p - постачальника ТОВ «Горизонти» 
				.image-block.highlighted
					.photo-wrapper
						a(href="assets/img/object-full.png" data-fancybox)
							img(src="assets/img/object-thumb.png" )
					.white-block
						p.title Об’єкт “Закарпатський”
						p - постачальника ТОВ «Горизонти» 
				.image-block.highlighted
					.photo-wrapper
						a(href="assets/img/object-full.png" data-fancybox)
							img(src="assets/img/object-thumb.png" )
					.white-block
						p.title Об’єкт “Закарпатський”
						p - постачальника ТОВ «Горизонти» 
				