.page-content.light.clear-bg
	.page-content-inner
		ul.breadcrumbs
			li
				a(href="/") Головна
			li
				a(href="#") Ціни на природний газ
			li
				span 2020
		section.normal-container
			h1.mb-30.digit-stat 2020
			ul.info-list.mb-50
				li – Станом на 01 січня 2020 року, базова ціна постачальника ТОВ «Горизонти» на природний газ для промислових споживачів становитиме 
					span.bold 5 000,00 грн. з ПДВ.
				li – Станом на 01 лютого 2020 року, базова ціна постачальника ТОВ «Горизонти» на природний газ для промислових споживачів становитиме 
					span.bold 5 000,00 грн. з ПДВ.
				li – Станом на 01 березня 2020 року, базова ціна постачальника ТОВ «Горизонти» на природний газ для промислових споживачів становитиме 
					span.bold 4 200,00 грн. з ПДВ
				li – Станом на 01 квітня 2020 року, базова ціна постачальника ТОВ «Горизонти» на природний газ для промислових споживачів становитиме 
					span.bold 4 200,00 грн. з ПДВ
				li – Станом на 01 травня 2020 року, базова ціна постачальника ТОВ «Горизонти» на природний газ для промислових споживачів становитиме 
					span.bold 3 200,00 грн. з ПДВ
				li – Станом на 01 червня 2020 року, базова ціна постачальника ТОВ «Горизонти» на природний газ для промислових споживачів становитиме 
					span.bold 2 500,00 грн. з ПДВ
				li – Станом на 01 липня 2020 року, базова ціна постачальника ТОВ «Горизонти» на природний газ для промислових споживачів становитиме 
					span.bold 3 000,00 грн. з ПДВ
				li – Станом на 01 серпня 2020 року, базова ціна постачальника ТОВ «Горизонти» на природний газ для промислових споживачів становитиме 
					span.bold 3 200,00 грн. з ПДВ
				li – Станом на 01 вересень 2020 року, базова ціна постачальника ТОВ «Горизонти» на природний газ для промислових споживачів становитиме 
					span.bold 4 400,00 грн. з ПДВ
				li – Станом на 01 жовтня 2020 року, базова ціна постачальника ТОВ «Горизонти» на природний газ для промислових споживачів становитиме 
					span.bold 5 400,00 грн. з ПДВ
			a(href="#").accentHeader.nav_link.link_prev Назад до цін