.page-content.light.clear-bg
	.page-content-inner
		ul.breadcrumbs
			li
				a(href="/") Головна
			li
				span Ціни на природний газ
		section.normal-container
			h1.mb-20 Ціни на природний газ
			p.mb-50
				|Дані ціни є орієнтовними, а остаточна ціна на природний газ 
				span.bold визначається Сторонами в укладеному Договорі на постачання природного газу, 
				|виходячи з попиту та пропозиції, що сформувалися на ринку природного газу; кількості природного газу, що постачається; періоду постачання; графіку оплати, тощо.
				br 
				br 
				|Ціна на природний газ для промислових споживачів визначається сторонами 
				span.bold за принципами вільного ціноутворення, 
				|залежить від різних чинників та може змінюватися в місячному діапазоні.
			h2.mb-20 Ціна природного газу для побутових споживачів
			p.mb-50 
				|Починаючи з 01 вересня 2020 року ціна природного газу за 1 м3 встановлюється в національній валюті України - гривні і 
				span.bold складає з урахуванням вартості податку на додану вартість 7,80 грн. без урахування послуги розподілу природного газу
			h2.mb-20 Ціна по рокам
			.grid-blocks
				.grid-item
					a(href="#")
						span.digit-stat.mb-10 2020
					p.mb-10 
						|Станом на 01 червня 2018 року, базова ціна постачальника ТОВ «Горизонти» на природний газ для промислових споживачів становитиме 
						span.bold 7100,00 грн.      з ПДВ.
					.grid-item__link
						a.slide-down-on-move.btn-with-arrow.nav_link.to-right(href='#')
							span.btn-text.move-part Читати далі
							span.default-arrow.to-right.revers.move-part
								span
								span
								span
				.grid-item
					a(href="#")
						span.digit-stat.mb-10 2019
					p.mb-10 
						|Станом на 01 червня 2018 року, базова ціна постачальника ТОВ «Горизонти» на природний газ для промислових споживачів становитиме 
						span.bold 7100,00 грн.      з ПДВ.
					.grid-item__link
						a.slide-down-on-move.btn-with-arrow.nav_link.to-right(href='#')
							span.btn-text.move-part Читати далі
							span.default-arrow.to-right.revers.move-part
								span
								span
								span
				.grid-item
					a(href="#")
						span.digit-stat.mb-10 2018
					p.mb-10 
						|Станом на 01 червня 2018 року, базова ціна постачальника ТОВ «Горизонти» на природний газ для промислових споживачів становитиме 
						span.bold 7100,00 грн.      з ПДВ.
					.grid-item__link
						a.slide-down-on-move.btn-with-arrow.nav_link.to-right(href='#')
							span.btn-text.move-part Читати далі
							span.default-arrow.to-right.revers.move-part
								span
								span
								span
				.grid-item
					a(href="#")
						span.digit-stat.mb-10 2017
					p.mb-10 
						|Станом на 01 червня 2018 року, базова ціна постачальника ТОВ «Горизонти» на природний газ для промислових споживачів становитиме 
						span.bold 7100,00 грн.      з ПДВ.
					.grid-item__link
						a.slide-down-on-move.btn-with-arrow.nav_link.to-right(href='#')
							span.btn-text.move-part Читати далі
							span.default-arrow.to-right.revers.move-part
								span
								span
								span