.page-content.light.clear-bg
	.page-content-inner
		ul.breadcrumbs
			li
				a(href="/") Головна
			li
				span Публічна інформація
		section.normal-container
			h1.mb-40 Публічна інформація
			.download-block.mb-30
				p.title.mb-40 Фінансова звітність
				ul.marked-list.download-list
					li 
						a(href="#") Фінансовий звіт ТОВ "Горизонти" за 2017 рік
					li 
						a(href="#") Фінансовий звіт ТОВ "Горизонти" за 2018 рік
					li 
						a(href="#") Фінансовий звіт ТОВ "Горизонти" за 2019 рік
					li 
						a(href="#") Фінансовий звіт ТОВ "Горизонти" за 2019 рік
					li 
						a(href="#") Звіт незалежного аудитора щодо фінансової звітності загального призначення за 2018 рік
					li 
						a(href="#") Звіт незалежного аудитора щодо фінансової звітності загального призначення за 2019 рік
			.download-block
				p.title.mb-40 Інша інформація
				ul.marked-list.download-list
					li 
						a(href="#") Довідка з ДФС про відсутність заборгованості 2018
					li 
						a(href="#") Довідка з ДФС про відсутність заборгованості 2019
					li 
						a(href="#") Звіт про платежі на користь держави 2018
					li 
						a(href="#") Звіт про платежі на користь держави 2019
					li 
						a(href="#") Звіт про управління за 2018
					li 
						a(href="#") Звіт про управління за 2019
					li 
						a(href="#") Інформація щодо дотримання стандартів 2017
					li 
						a(href="#") Інформація щодо дотримання стандартів 2018
					li 
						a(href="#") Інформація щодо дотримання стандартів 2019
					
