// Подключение шрифтов и переменных
@import 'fonts';
@import 'vars';
@import 'media';

body, html{
	margin: 0;
	height: 100%;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}
p {
	margin: 0;
	font-size: 14px;
}
.show-1024 {
	display: none;
}
.accent {
	color: $accent !important;
}
.accentHeader {
	color: $accentHeader !important;
}
.digit-stat {
	font-weight: 300 !important;
	font-size: 30px !important;
	color: $accentHeader !important;
}
.d-flex {
	display: flex;
}
.bg-gradient {
	background: #4c4c4c;
	// background: linear-gradient(105.7deg, #333333 , #555555);
	& > * {
		background-color: transparent!important;
	}
}
.full-screen {
	height: calc(100% - 37px);
}
.container {
	padding: 0 90px;
	margin: 0 auto;
}

.our_video{
	margin-top: 45px;

	p {
		margin-top: 14px;
	}
}
.bold {
	font-weight: 600;
}


.play {
	position: relative;
	width: 48px;
	height: 48px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50px;
	border: 2px solid $accent;
	span {
		position: absolute;
		display: block;
		box-sizing: border-box;
		width: 0;

		border-color: transparent transparent transparent $accent;
		transition: 100ms all ease;
		border-style: double;
		border-style: solid;
		border-width: 8px 0 8px 11px;
	}

}
header.mobile, .page-content.gray .content__bottom .our_video{
	display: none;
}
header.mobile {
	transition: .4s ease all;
}

ul.breadcrumbs {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 30px;
	padding-right: 90px;
	li {
		a {font-weight: 400;}
		a:after {font-weight: 300; content: ' . ';padding: 0 20px;text-align: center;}
		span {font-weight: 300;}
		a, span {
			font-size: 14px;
			line-height: 36px;
			text-transform: none;
			color: #BBBBBB;
		}
	}
}
.page-content {
	width: 100%;
	padding-left: 430px;
	padding: 52px 0px 60px 30px;
	&.light {
		padding-bottom: 100px;
		@include _420 {
			padding-bottom: 35px;
		}
	}
	p, a, span, h1, h2, h3, h4, h5, h6 {
		font-family: 'Museo Sans Cyrl';
	}
	h1 {
		font-weight: 100;
		font-size: 40px;
	}
}
.mb-50 {margin-bottom: 50px!important;@include _420 {margin-bottom: 25px!important;}}
.mb-40 {margin-bottom: 40px!important;@include _420 {margin-bottom: 20px!important;}}
.mb-30 {margin-bottom: 30px!important;@include _420 {margin-bottom: 15px!important;}}
.mb-20 {margin-bottom: 20px!important;@include _420 {margin-bottom: 10px!important;}}
.mb-10 {margin-bottom: 10px !important;@include _420 {margin-bottom: 5px!important;}}

.short-container {max-width: 720px}
.normal-container {max-width: 860px}
// Подключение компонентов
@import 'components/header';
@import 'components/_content-gray.scss';
@import 'components/footer';

@import 'components/common-page';



.common-page header { background-color: #353535;}

@media screen and (max-width: 1200px) {
	.page-content.gray {
		padding-left: 340px;
		background-position: 100% 153%;
		.page-content-inner{
			max-width: 100%;
			padding-right: 100px;
		}
	}
}
@media screen and (max-width: 1024px) {
	.hide-1024 { display: none; }
	.show-1024 { display: block; }

	ul.breadcrumbs {
		justify-content: flex-start;
		padding-right: 0;
		li a:after {padding: 0px 10px;}
	}


	.page-content{padding-top: 120px;}
	.page-content.gray {
		padding-left: 100px;
		

		background-position: bottom right;
		background-size: 320px;


		h1 {
			font-size: 30px;
		}
		.content__bottom .stats {
			display: block;
			.stat_item {
				margin-bottom: 20px;
			}
		}
		.content__bottom .our_video {
			display: block;
		}
		.page-content-inner {
			justify-content: space-evenly;
		}
		.content__center {
		    padding-bottom: 30px;
		}

		.content__bottom .stats .stat_item span {
			font-size: 33px;
		}
		.content__bottom .stats .stat_item p {
			font-size: 16px;
		}
		.content__center p {
			font-size: 16px;
		}
		.content__center .site-title p {
			margin: 0;
			font-size: 70px;
		}
		.our_video {
			margin-top: 10px;
		}
	}

	header.desktop,.page-content.gray .content__top {
		display: none;
	}

	
	header.desktop {
		top: 80px;
	    background-color: #333333!important;
	    padding: 0;
	    width: 100%;
	    height: calc(100% - 80px);
	    z-index: 999;
	    padding: 40px 0 40px 40px;
	    box-sizing: border-box;

	    .logo, .our_video {
	    	display: none;
	    }
	    .short_info__bottom  {
	    	margin-top: 30px;
	    }
	}
	header.mobile.active {background-color: #333333;}



	@import 'components/header-mobile';
	body.light-page {
		

		.page-content.light {
			padding-left: 60px;
			padding-right: 60px;
			background-position: 115% 50% ;
			box-sizing: border-box;
		}
		header{
			background-color: #fff;
		}
		header.mobile .mobile__menu-wrapper a, header.mobile .mobile__menu-wrapper p{
			color: #333333;
			font-weight: 400;
		}
		.menu__btn > span, header.mobile .menu__btn > span::before, header.mobile .menu__btn > span::after{
			background-color: #333333;
		}
		header.mobile {
			&.active {
				.menu__btn > span::before, .menu__btn > span::after{
					background-color: #fff;
				}
			}
		}
		section.short-container {
			max-width: 100%;
		}
	}
	footer{
		position: initial;
		width: auto;
	}
	body:not(.light-page){
		header.mobile .logo-mobile img.light{display: block !important;}
		header.mobile .logo-mobile img:not(.light){display: none !important;}
	}
}


@media screen and (max-width: 768px) {
	.container {
		padding: 0;
	}
	header.mobile {
		padding: 20px;

		.logo-mobile img:not(.light) {
			max-height: 30px;
		}
		.mobile__menu-wrapper .address,
		.mobile__menu-wrapper .phone-number{
			display: none;
		}
	}
	.page-content.gray {
		background-position: 100% 72%;
		background-size: 200px;
		padding-left: 40px;
		.page-content-inner {
			padding-right: 40px;
		}

		h1 {
			font-size: 22px;
		}
		.content__center .site-title p {
		    font-size: 53px;
		}
		.content__center p {
		    font-size: 15px;
		}

		.site-title {
			margin: 10px 0;
		}	
	}


	body.light-page {
		.page-content.light {
			padding-left: 40px;
			padding-right: 40px;
			background-image: none;

			ul.breadcrumbs li a, ul.breadcrumbs li span {
				font-size: 13px;
			}
			h1{font-size: 26px;}
			.our-history {
				margin-top: 50px;
				p.title{
					margin-bottom: 50px;
	    			font-size: 26px;
				}
				.slider-buttons {
					margin-top: 50px;
				}
			}
		}
	}
}

@media screen and (max-width: 420px) {
	

	body.light-page {
		.page-content.light {
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 80px;

			.our-history {
				p.title{
					margin-bottom: 30px;
				}
			}
		}
	}

	.page-content.gray {
		.page-content-inner {
			padding-right: 20px;
		}

		h1 {
		    font-size: 17px;
		}
		.content__center .site-title p {
		    font-size: 43px;
		}
		.content__center p {
	        font-size: 14px;
		}
	}
}

@media screen and (max-width: 375px) {
	.page-content.gray {
		padding-left: 20px;
	}
}


