<!DOCTYPE html>
html(lang="en")
	include components/head.pug
body.light-page
	include components/header-mobile.pug
	.d-flex.common-page
		include components/header-desktop.pug
		include components/price.pug
		

	include components/footer.pug