.common-page {

	.page-content.light {
		h1, h2, h3, h4, h5, h6 { color: $accentHeader; font-weight: 900;}
		ul li {font-family: Museo Sans Cyrl;}
		h1{font-size: 36px;}
		h2, h3{font-size: 28px; @include _768 {font-size: 18px;}}
		section {
			p, a {font-weight: 400;line-height: 26px;font-size: 15px;@include _768 {font-size: 14px;}}
		}

	    background: right top/contain no-repeat url('../img/logo-bg-light.png');
		background-size: 240px;

		padding-left: 480px;
		padding-right: 20px;

		&.clear-bg {
			background: none!important;
		}

		// Color filled
		.color-filled {
			background-color: $accentHeader;
			padding: 25px 30px;
			@include _768 {
				padding: 15px;
			}

			p, a {
				display: block;
				color: #fff;
				font-weight: 300;
				margin-bottom: 10px;
				text-transform: none;

				&:last-child {
					margin-bottom: 0;
				}
			}

			a:hover{
				color: #fff !important;
				text-decoration: underline;
			}

			p.title {
				font-size: 28px;
				@include _768 {
					font-size: 18px;
					br{display: none;}
				}
    			line-height: 38px;
			}
		}

		// White block

		.white-block {
		    padding: 30px 30px 20px;
			display: flex;
			flex-direction: column;
    		justify-content: space-between;
			@include _768 {
				padding: 15px;
			}

			p, a {
				display: block;
				color: $textColor;
				font-weight: 400;
				margin-bottom: 0px;
				text-transform: none;
			}

			p.title {
				font-size: 28px;
				font-weight: 300;
				color: $accentHeader;
				@include _768 {
					font-size: 18px;
					br{display: none;}
				}
    			line-height: initial;
			}
		}

		.image-block {
			.photo-wrapper   {

				a {
					display: block;
					position: relative;


					&:before {
						position: absolute;
						content: '';
						width: 100%;
						height: 100%;
						background: linear-gradient(0deg, rgba(0, 63, 130, 0.5), rgba(0, 63, 130, 0.5));
					}
					&:after {
						position: absolute;
						content: '';
						width: 100%;
						height: 40px;
						background: center / 40px no-repeat url('../img/search.svg');
						top: calc(50% - 20px);
					}

					&:before,&:after {opacity: 0;transition: .4s ease all;}
					&:hover:before,&:hover:after {opacity: 1;}
					img {
						display: flex;
						max-width: 100%;
					}
				}
			}
			.white-block {
				padding-top: 20px;
			}
		}

		.highlighted {
			box-shadow: 0px 10px 30px rgba(0, 63, 130, 0.1);
		}


		// Download section
		.download-block {
			background: top right / 24% no-repeat url('../img/logo-bg-transparent.png');
			box-shadow: 0px 10px 30px rgba(0, 63, 130, 0.1);
			padding: 40px;

			@include _768 {
				background: none;
				box-shadow: none;
				padding: 0px;
				
			}
			

			p.title {
				font-weight: 300 ;
				font-size: 25px ;
				color: $accentHeader ;

				@include _768{
					font-size: 21px;
				}
			}

		}
		.page-content-inner {
			max-width: 946px;
		}

		.mob-address,.phone-number {
			display: block !important;
		}
		.short_info__bottom {
			display: none;
		}
		.mob-address {
	    	margin-bottom: 10px;
	    }


	    // Slider
		.our-history {
			margin-top: 70px;

			p.title {font-size: 36px;font-weight: 900;color: $accentHeader;margin-bottom: 70px;}
			
			.swiper-slide {
				span {
					font-weight: 300;
					font-size: 30px;
				}
				p {
					margin-top: 10px;
				}
			}
			.slider-buttons {
				display: flex;
				margin-top: 70px;
				.swiper-button-prev {margin-right: 30px;}
				.swiper-button-prev, .swiper-button-next{
					position: initial;
					height: 46px;
				    width: 46px;
				    border-radius: 50px;
				    border: 2px solid #353535;
				    background-color: #353535;
				    outline: none;
				    transition: .1s ease all;

				    &:hover {
				    	background-color: $accent;
				    	border-color: $accent;
				    }
				}
				.swiper-button-prev:after, .swiper-button-next:after{
					color: #fff;
					font-size: 15px;
	    			font-weight: 700;
				}

				.swiper-button-disabled {
					opacity: 1;
					border: 2px solid #E6E6E6;
					background-color: #fff;
				    pointer-events: all;
					&:after {color: $textColor;}
					&:hover{background-color: #E5E5E5;border: 2px solid #E6E6E6;}
				}
				
			}
		}


		// Navigation links

		.slide-down-on-move .move-part{top:0;position:relative;transition:.5s;opacity:1;display:flex;justify-content:center;flex-direction:column;}
		a.nav_link{display:flex;}
		a.nav_link:hover .default-arrow span{background-color:$accentHeader;}
		a.nav_link:hover .btn-text{color:$accentHeader;text-decoration:underline;}
		a.nav_link .default-arrow{transform:scale(.5) rotateZ(90deg) translateX(10%);}
		a.nav_link .default-arrow.to-left{transform:scale(.5) rotateZ(270deg) translateX(10%);margin-left: 0;}
		a.nav_link .default-arrow span{background-color:$accentHeader;}
		.default-arrow{position:relative;width:1.875vw;display:block;transform-origin:center;}
		.default-arrow span{position:absolute;width:.78125vw;height:1px;background-color:$accentHeader;display:block;transition:.5s;}
		.default-arrow span:nth-child(1){transform-origin:left top;left:50%;bottom:calc(50% + .26042vw);transform:rotate(33deg);}
		.default-arrow span:nth-child(2){transform-origin:right top;right:50%;bottom:calc(50% + .26042vw);transform:rotate(-33deg);}
		.default-arrow span:nth-child(3){transform-origin:right;right:50%;bottom:calc(50% + .26042vw);transform:rotate(-90deg);width:0;}
		.default-arrow.revers span:nth-child(1){bottom:calc(50% + .78125vw);transform:rotate(45deg);}
		.default-arrow.revers span:nth-child(2){bottom:calc(50% + .78125vw);transform:rotate(-45deg);}
		.default-arrow.revers span:nth-child(3){transform-origin:right;right:50%;bottom:calc(50% + .78125vw);transform:rotate(-90deg);width:1.875vw;}


		.default-arrow.to-right{transform:rotate(90deg);}
		.btn-with-arrow{cursor:pointer;color:$accentHeader;background-color:transparent;border:none;}
		.btn-with-arrow.to-right{justify-content: flex-end;}
		.btn-with-arrow .default-arrow{margin-left:.52083vw;}
		.btn-with-arrow .btn-text{display:block;margin-top:auto;margin-bottom:auto;display:block;transition:.5s;}
		.btn-with-arrow:hover .btn-text{color:$accentHeader;}
		.btn-with-arrow:hover .default-arrow.revers span{position:absolute;width:.78125vw;height:1px;background-color:$accentHeader;display:block;transition:.5s;}
		.btn-with-arrow:hover .default-arrow.revers span:nth-child(1){transform-origin:left top;left:50%;bottom:calc(50% + .26042vw);transform:rotate(33deg);}
		.btn-with-arrow:hover .default-arrow.revers span:nth-child(2){transform-origin:right top;right:50%;bottom:calc(50% + .26042vw);transform:rotate(-33deg);}
		.btn-with-arrow:hover .default-arrow.revers span:nth-child(3){transform-origin:right;right:50%;bottom:calc(50% + .26042vw);transform:rotate(-90deg);width:0;}


		a.nav_link {
			text-transform: inherit;
			position: relative;
		    font-weight: 300;
		    &:hover {color: $accentHeader !important;}

			&.link_next {padding-right: 16px;}
			&.link_prev {padding-left: 16px;margin-left: 12px;}
		    &:after,
		    &:before {
		    	position: absolute;
		    	top: 4px;
		    	width: 13px;
			    height: 13px;
			    content: '';
			    background-size: cover;
		    }
			&.link_next:after{
			    right: -7px;
			    background-image: url(../img/arrow-right.svg);
			}
			&.link_prev:before{
			    left: -7px;
			    background-image: url(../img/arrow-left.svg);
			}
		}

		// Grid blocks
		.grid-blocks {
			display: grid;
			grid-template-columns: 1fr 1fr;
			@include _(600) {
				grid-template-columns: 1fr;
			}
			        
			grid-gap: 30px;

			.grid-item {
				box-shadow: 0px 10px 30px rgba(0, 63, 130, 0.1);
				padding: 20px 30px;

				span {
					display: inline-block;
				}

				.grid-item__link {
					margin-right: -12px;
					text-align: right;
				}
			}
		}


		// Info list

		ul.info-list {
			li {
			    font-size: 15px;
			    font-weight: 400;
			    line-height: 25px;
			    margin-bottom: 13px;

			    @include _768 {
			    	font-size: 14px;
			    }
			            
			}
		}

		// Marked list
		ul.marked-list {
			li {
			    margin-bottom: 20px;
			    padding-left: 40px;
			    line-height: 25px;
				text-transform: uppercase;
				position: relative;
				a {
					display: block;
					color: $textColor;

					&:hover {text-decoration: underline;}
				}

				@include _768 {
					font-size: 14px;
				}

				        

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					height: 20px;
					width: 20px;
					background: no-repeat url('../img/checked.svg');
				}
			}
			&.download-list  {
				max-width: 470px;
				li:before{
					height: 30px;
					width: 30px;
					background: no-repeat url('../img/download.svg');
				}
			}
		}

		// Contacts grid

		.grid-2 {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 30px;
			@include _420 {
				gap: 15px;
			}
			        

			@include _(600) {
				grid-template-columns: 1fr;
			}
			        
		}

		// Map
		.map {
			height: 300px;
			@include _420 {
				height: 0;
				padding-bottom: 80%;
			}
			        

			.gmnoprint {display: none;}
		}



	}
}